# API Gateway
PORT=3000
USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=3001

# Core User Service
PORT_USER_SERVICE_TCP=3001
MONGO_URI_USERS=mongodb://127.0.0.1:27017/allpets_users
JWT_SECRET=
JWT_EXPIRATION=7d

# Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
PHONE_ENCRYPTION_KEY=
